{% extends 'base.html.twig' %}

{% block title %}PtitShop - compte!{% endblock %}

{% block content %}
<h1>Compte</h1>
<p>Bienvenue {{ app.user.firstname }}</p>

<a href=" {{ path('account_password') }}"> Modifier le mot de passe</a>
<br>
{% endblock %}
